{% macro footer() %}
    <footer class="w-full md:w-4/5 mx-auto py-5 my-5">
        <div class="flex border-t border-gray-200 lg:w-2/3 md:w-full mx-auto text-gray-700 py-5 my-5">
            <div class="flex-col md:flex-row  space-x-4 mx-auto">
                <a href="/disklaimer">
                    Disklaimer
                </a>
                <a href="/lisensi">
                    Lisensi
                </a> 
                <a href="https://discord.gg/Q2sd9SVmg7" >
                    Ruang Ngoblor
                </a> 
            </div>
        </div>
    </footer>
{% endmacro %}